<launch>
  <arg name="id" default=""/>
  <arg name="agent_name" value="agent_$(arg id)"/>

  <group ns="$(arg agent_name)">
    <param name="agent_id" value="$(arg id)"/>

    <node name="agent_manager" pkg="coverage_control" type="agent_manager.py"/>
    <node name="agent_body" pkg="coverage_control" type="agent_body.py"/>
    <node name="controller" pkg="coverage_control" type="controller.py"/>
  </group>
</launch>